__pycache__
*.pyc
.git
.venv
*.egg-info
Model/models/*.pth
Model/models/*.png
Model/models/block_model_1024_512_64_20.pth
reports/
dataset/
*.ipynb
.ipynb_checkpoints/
docs/
.python-version
session-ses_0676.md
test.txt
.vscode/
.DS_Store
